# basic
node_modules/
dist/
build/
.env*
.DS_Store

# extensions related
*.crx
*.pem
extension.zip
manifest*.json.backup

# dev tool / IDE
.vscode/
.idea/

# etc
*.log
.cache/
*.tsbuildinfo
.eslintcache