@import "tailwindcss";

html,
body,
#root {
  width: 350px;
  height: 400px;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
